:root {
	--primary-color: #f58220;
	--primary-color-ligth: #ffb352;
	--primary-color-dark: #bc5400;
}

body
{
	background-image: url("img/hexellence.png"); /* Background pattern from Toptal Subtle Patterns */
	font-size: 20px;
	font-family: 'Lato', sans-serif;
}

#container-login
{
	background-color: white;
	width: 450px;
	padding: 40px 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
	box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
}

#container-panel
{
	background-color: white;
	width: 1000px;
	padding: 40px 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}

input[type=text],
input[type=password],
input[type=email]
{
	font-family: 'Lato', sans-serif;
	width: 100%;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 5px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid var(--primary-color-ligth);
	background-color: #f3f0e9;
	color: var(--primary-color-dark);
}

input[type=checkbox]
{
	font-family: 'Lato', sans-serif;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 5px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}

input[type=submit]
{
	font-family: 'Lato', sans-serif;
	width: 100%;
	background-color: var(--primary-color);
	font-size: 20px;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 15px 10px;
	/*box-sizing: border-box;*/
	margin-top: 20px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

input[type=submit]:hover
{
	background-color: var(--primary-color-ligth);
}

input[type=submit]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

input::-webkit-input-placeholder
{
	color: #999999;
}

input:focus::-webkit-input-placeholder
{
	color: var(--primary-color-dark);
}

/* Firefox < 19 */
input:-moz-placeholder
{
	color: #999999;
}

input:focus:-moz-placeholder
{
	color: var(--primary-color-dark);
}

/* Firefox > 19 */
input::-moz-placeholder
{
	color: #999999;
}

input:focus::-moz-placeholder
{
	color: var(--primary-color-dark);
}

/* Internet Explorer 10s */
input:-ms-input-placeholder
{
	color: #999999;
}

input:focus:-ms-input-placeholder
{
	color: var(--primary-color-dark);
}

h1,h2,h3
{
	margin: 1px;
}

h4
{
	margin: 5px;
}

/* Stylizacja linków */
a:link
{
	color: var(--primary-color);
}

a:visited
{
	color: var(--primary-color);	
}
a:hover
{
	color: var(--primary-color-dark);	
}

.error
{
	color:red !important;
	margin-top: 10px;
	margin-bottom: 10px;
}

#regulamin
{
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
}

th, td
{
	border: 1px solid black;
	padding: 5px;
	width: 100%;
}

#newsletter-captacha
{
	margin-top: 10px;
}

nav
{
	background-color: black;
	color: white;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}

nav > ul
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block;
}

nav > ul > li
{
	float: left;
	width: 100%;
	height: 40px;
	border-right: 1px dashed #751b1b;
}